<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="17" android:versionName="1.1.5" android:installLocation="auto" 
    package="org.ametro" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	<supports-screens android:anyDensity="true" />
	
    <application android:debuggable="false" android:theme="@android:style/Theme.Black" 
        android:icon="@drawable/appicon"
        android:label="@string/app_name" android:name="org.ametro.app.ApplicationEx">
        <activity android:label="@string/app_name"
            android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" 
            android:name=".ui.MapViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.app.default_searchable" android:value=".ui.StationSearchActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MediaUnmountedActivity"/>
        <activity android:name=".ui.MapDetailsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ui.RouteViewActivity"/>
        <activity android:launchMode="singleTop"
            android:name=".ui.RouteCreateActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.DonateActivity"/>
        <activity android:name=".ui.SettingsActivity"/>
        <activity android:name=".ui.StationViewActivity"/>
        <activity android:name=".ui.StationListActivity"/>
        <activity android:name=".ui.FavoriteRouteListActivity"/>
        <activity android:name=".ui.CatalogTabHostActivity" android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/title_catalog_local"
            android:name=".ui.CatalogLocalListActivity" android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/title_catalog_online"
            android:name=".ui.CatalogOnlineListActivity" android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/title_catalog_import"
            android:name=".ui.CatalogImportListActivity" android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.CatalogMapSelectionActivity"/>
        <activity android:name=".ui.TaskQueuedList"/>
        <activity android:name=".ui.TaskFailedList"/>
        <!-- DIALOGS -->
        <activity android:label="@string/msg_donate_title"
            android:name=".ui.dialog.PaymentDetailsDialog" android:theme="@android:style/Theme.Dialog"/>
        <activity android:label="@string/msg_detect_location"
            android:name=".ui.dialog.LocationSearchDialog" android:theme="@android:style/Theme.Dialog"/>
        <!-- SEARCHS -->
        <activity android:label="@string/search_station"
            android:launchMode="singleTop" android:name=".ui.StationSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <!-- SERVICES -->
        <service android:name="org.ametro.service.AutoUpdateService"/>
        <service android:name="org.ametro.service.CatalogTaskQueueService"/>
        <!-- RECEIVERS -->
        <receiver android:enabled="false" android:name="org.ametro.receiver.NetworkStateReceiver">
            <intent-filter>
                <!-- <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" /> -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:name="org.ametro.receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.ametro.receiver.AlarmReceiver"/>
    </application>
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- FEATURES -->
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
</manifest>
