<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="0.2.4.r243"
    package="org.ametro" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:debuggable="true"
        android:icon="@drawable/appicon" android:label="@string/app_name">
        <activity android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".activity.BrowseVectorMap"
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".activity.SearchStation"/>
        </activity>
        <!--activity android:launchMode="singleTop" android:name=".activity.BrowseLibrary"/-->
        <activity android:name=".activity.ImportPmz" android:launchMode="singleTop" />
        <activity android:name=".activity.BrowseMapDetails"/>
        <activity android:name=".activity.BrowseRoute"/>
        <activity android:name=".activity.CreateRoute" android:launchMode="singleTop" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.About"/>
        <activity android:name=".activity.Settings"/>
        <activity android:name=".activity.BrowseStation"/>
        <activity android:name=".activity.SelectStation"/>
        <activity android:name=".activity.FavoriteRouteList"/>
        <activity android:name="org.ametro.activity.AllMaps"/>
        <activity android:name="org.ametro.activity.LocalMaps"/>
        <activity android:name="org.ametro.activity.OnlineMaps"/>
        <activity android:name="org.ametro.activity.ImportMaps"/>
        <!-- DIALOGS -->
        <activity android:name=".activity.SearchLocation" android:label="@string/msg_detect_location" android:launchMode="singleTop" android:theme="@android:style/Theme.Dialog"/>
        <!-- SEARCHS -->
        <activity android:name=".activity.SearchStation" android:label="@string/search_station" android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="3"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
